/* ScrollButton.css */
.scroll-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: opacity 0.5s ease-in;
  z-index: 90;
  /* Lower than audio controls */
}

.scroll-button {
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  cursor: pointer;
  background-color: #5a2d82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.scroll-button:hover {
  transform: translateY(-3px);
  background-color: #703e84;
}

/* Move up when audio controls are visible */
.scroll-button-with-audio {
  bottom: 100px;
  /* Adjust based on your audio control height */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}