.navbar {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.nav-links a {
  color: var(--text-color);
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  justify-content: center;
}

.menu li {
  padding: 5px 14px; /* Set uniform padding */
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease; /* Only transition color and background */
}

.menu li:hover,
.menu li.active {
  background-color: var(--border-color);
  border-radius: 5px;
  color: var(--primaryColor); /* Use primary color for text */
}

.active {
  font-weight: bold;
}
