.navbar {
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

.nav-links a {
  color: var(--text-color);
}

.logo {
  font-size: 32px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  justify-content: center;
}

.menu li:hover {
  background-color: var(--border-color);
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}
