.text-section {
  max-width: 800px;
  margin: auto; /* Center horizontally */
  padding: 28px;
  /* background-color: var(--backgroundColor); */
  color: var(--textColor);
  border-radius: 10px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  background: rgba(229, 219, 219, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(229, 219, 219, 0.3);
}

.header {
  margin-bottom: 10px;
}

.header h1 {
  font-size: 1em;
  color: #333;
  margin: 0;
}
.text-section {
  max-width: 800px;
  margin: auto; /* Center horizontally */
  padding: 20px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border-radius: 10px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.text-section p {
  margin-bottom: 15px;
}

.text-section ul {
  list-style-type: circle;
  padding: 1.5rem;
  margin-bottom: 15px;
}

.text-section ul li {
  margin-bottom: 10px;
}

.interests {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.phoenix-interest,
.go-interest,
.elixir-interest,
.algorithms-interest {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}
/* Unique style for "Namaste!" */
.namaste {
  color: #ff9933; /* Orange color */
  font-family: "Poppins", sans-serif; /* Indian-inspired font */
}

.cool-interests {
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  padding: 0;
  list-style-type: none;
}

.cool-interests li {
  margin-bottom: 1em;
  transition: color 0.3s ease, transform 0.3s ease;
}

.highlight {
  color: rgb(44, 20, 140);
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* .interest-icon {
  display: flex;
  justify-content: center;
  align-items: center;
} */
