.text-section {
  max-width: 800px;
  margin: auto; /* Center horizontally */
  padding: 20px;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border-radius: 10px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.text-section p {
  margin-bottom: 15px;
}

.text-section ul {
  list-style-type: disc;
  padding: 0;
  margin-bottom: 15px;
}

.text-section ul li {
  margin-bottom: 10px;
}

.interests {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.react-interest,
.redis-interest,
.elixir-interest,
.algorithms-interest {
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
}
/* Unique style for "Namaste!" */
.namaste {
  font-size: 1.2rem;
  color: #ff9933; /* Orange color */
  font-family: "Poppins", sans-serif; /* Indian-inspired font */
}
