.project-card {
  width: 30rem;
  height: 650px;
  min-height: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 2rem;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card-technologies {
  list-style: none; /* Remove bullets */
  display: grid; /* Use grid layout */
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 10px; /* Gap between items */
  padding: 10px; /* Padding for background color */
}
.project-card-description {
  padding: 10px;
}

.project-card-technologies li {
  padding: 5px; /* Adjust padding as needed */
  text-align: center; /* Center-align text */
  border: 1px solid var(--border-color); /* Add thin border */
}

.project-card-image {
  width: 100%;
  height: 40%;
  border-radius: 10px;
  margin-bottom: 15px;
}
.project-card_name-description-container {
  height: 20%;
}

.project-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  margin-bottom: 15px;
}

.project-card ul {
  padding-left: 20px;
}

.project-card ul li {
  margin-bottom: 5px;
}

.project-card a {
  display: inline-block;
  background-color: var(--border-color);
  color: var(--textColor);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.project-card-cta {
  background-color: var(--accentColor);
  color: var(--textColor);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  transition: background-color 0.3s ease;
}

.project-card-cta {
  margin-top: 10px; /* Additional margin top for button */
}
.project-card_button-container {
  display: flex;
  justify-content: center; /* Horizontally center the buttons */
  align-items: center; /* Vertically center the buttons */
  margin-top: 20px; /* Add margin top */
  gap: 2rem;
}

.project-card_button-container > * {
  margin-top: 10px; /* Add space between buttons */
}
