.project-card-cta {
  background-color: var(--accentColor);
  color: var(--textColor);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-card-cta:hover {
  background-color: #ff4500; /* Darker shade of accent color on hover */
}
