/* Terminal styling */
.terminal {
  background-color: #1e1e1e; /* Dark background like a terminal */
  color: #00ff9d; /* Neon green text */
  /* Monospace font for a coding feel */
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 255, 157, 0.5);
  white-space: pre-wrap; /* Ensure newlines and text wrapping works */
  word-wrap: break-word;
  font-size: 1.2rem;
  text-align: left; /* Left align the text like a terminal */
}

/* Blinking cursor */
.cursor {
  display: inline-block;
  width: 10px;
  background-color: #00ff9d;
  margin-left: 5px;
}

.cursor.visible {
  opacity: 1;
}

.cursor {
  opacity: 0;
  transition: opacity 0.5s;
}

/* Container styling */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 71px);
  color: #00ff9d;
  padding: 20px;
  box-sizing: border-box;
}

/* Ensure no overflow */
.terminal pre {
  overflow-wrap: break-word; /* Prevent long text from overflowing */
  word-break: break-word;
  white-space: pre-wrap;
  font-family: monospace;
}
