.profile {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile_name {
  font-size: medium;
  margin-top: 1rem;
}

.w-800 {
  width: 25rem;
}



