.certificate_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  /* Space between the cards */
  padding: 20px;
  background-image: radial-gradient(at 9% 24%,
      hsl(162, 77%, 40%) 0%,
      transparent 59%),
    radial-gradient(at 80% 79%, hsl(218.38, 49%, 56%) 0%, transparent 55%);
  background-color: rgba(255, 255, 255, 0.1);
  /* Glassmorphism effect */
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
  /* Apply the blur effect to the background */
  border-radius: 10px;
  /* Optional: rounded corners */
}

.certificate_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* For rounded corners */
  background-color: rgba(255,
      255,
      255,
      0.2);
  /* Slightly opaque background for the card */
  backdrop-filter: blur(8px);
  /* Glassmorphism effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow */
}

.certificate_details {
  width: 100%;
  height: auto;
  /* Adjust height automatically based on content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.certificate_details h2 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.certificate_details p {
  margin-bottom: 10px;
}

.certificate_details a {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 8px;
  background-color: #6A0DAD;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.certificate_cta {
  display: inline-block;
  padding: 10px 18px;
  margin-top: 8px;
  background-color: #6A0DAD;
  /* Deep Purple */
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.certificate_cta:hover {
  background-color: #4B0082;
  /* Darker Purple */
  border: 2px solid #ffffff;
  /* White Border */
  animation: smoothScale 0.3s ease-in-out forwards;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
  /* Soft Glow Effect */
}

@keyframes smoothScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1.05);
  }
}


.tag-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 5px;
  margin-top: 10px;
}

.tag {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--border-color);
  /* Background color */
  color: var(--text-color);
  /* Text color */
  text-align: center;
}