.certificate_image {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}
.certificate_card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  width: 100%;
  height: 100%;
}

.certificate_details {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.certificate_details h2 {
  margin-bottom: 10px;
}

.certificate_details p {
  margin-bottom: 10px;
}

.certificate_details a {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.certificate_details a:hover {
  background-color: #0056b3;
}

.tag-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.tag {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--border-color); /* Background color */
  color: var(--text-color); /* Text color */
  text-align: center;
}
