* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4caf50; /* Light Green */
  --background-color: #ffffff; /* White */
  --text-color: #333333; /* Dark Gray */
  --border-color: #e0e0e0; /* Light Gray */
  --accent-color: #ff5722; /* Deep Orange */
  --error-color: #f44336; /* Red */
  --success-color: #4caf50; /* Green */
}

body {
  font-family: cursive;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
